/*#main{
   // background-color: #fff2df;

     width: 100%;
     height: 100%;
     margin: 0%;

 }*/
 
 ion-content {
    --background : var(--ion-normal-background);
    
 }
 .header-logo { 
     width: 100%;
     height: 115px;
 }
 .button{
    width: 100%;
    height: 100%;
    display: grid;
    justify-content: center;
}

ion-card {
    --background : var( --ion-color-warning);


}
ion-item{
    font-family: 'Courier New', Courier, monospace;
}
ion-button{
    --background : var( --ion-color-warning);
    font-family: 'Courier New', Courier, monospace;
}

.Specification {
    font-family: 'Courier New', Courier, monospace;
}