
.button{
    width: 100%;
    height: 100%;
    display: grid;
    align-content: center;
    justify-content: center;
}
.toolbar{
    --background: var(--ion-gradient-color);
    color:white;
   
}

ion-button{
    --background : var( --ion-color-warning);
}

ion-content{
    --background : var(--ion-gradient-background);
    
}